# Common configurations

imageCredentials:
  password: ""

domain: ""
license: ""
superusers: ""
mongo:
  url: ""
redis:
  url: ""
stage: "enterprise"
ssl:
  generator: ""
serviceAccountName: ""
volumeMountedConfigMapName: ""

# Kubernetes Ingress configuration
ingress:
  class: ""
  annotations: {}
  tls: {}
  disabled: false

# Persistent Volume Storage
storage:
  # * class: "class-name" - Supports dynamic provisioning when you have a
  #                         specific storage class available, such as "nfs"
  # * class: null         - Supports static provisioning. You should
  #                         configure your own statically-provisioned PVC
  #                         resource with name "cobrowse-sockets-pvc", and
  #                         accompanying PV resource
  #                       - Also supports pre-configured PVC. You can
  #                         set the sockets.storage.persistentVolumeClaimName
  #                         and recording.storage.persistentVolumeClaimName
  #                         values to reference any pre-configured PVC(s)
  class: "nfs"
  size: "50Gi"

# Default cobrowse service image configuration
image:
  repo: "ghcr.io/cobrowseio"

# API configurations
api:
  replicas: 2
  cpu: ""
  memory: ""
  limits:
    cpu: ""
    memory: ""
  debug: ""

  service:
    type: ""


# Frontend configurations
frontend:
  replicas: 2
  cpu: ""
  memory: ""
  limits:
    cpu: ""
    memory: ""

  service:
    type: ""


# Proxy configurations
proxy:
  replicas: 2
  cpu: ""
  memory: ""
  limits:
    cpu: ""
    memory: ""
  debug: ""


  service:
    type: ""


# Recording configurations
recording:
  replicas: 2
  cpu: ""
  memory: ""
  limits:
    cpu: ""
    memory: ""
  debug: ""

  service:
    type: ""

  storage: {
    # persistentVolumeClaimName: "cobrowse-sockets-pvc"
  }

# Chromium configurations
chromium:
  cpu: ""
  memory: ""
  limits:
    cpu: ""
    memory: ""

# Sockets configurations
sockets:
  replicas: 2
  cpu: ""
  memory: ""
  limits:
    cpu: ""
    memory: ""
  debug: ""

  service:
    type: ""

  storage: {
    # persistentVolumeClaimName: "cobrowse-sockets-pvc"
  }

containerSecurityContext:
  enabled: true
