apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-api
  namespace: {{ .Release.Namespace | default "default" }}
  labels:
    component: api
    app: {{ template "fullname" . }}
    chart: {{ template "chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    stage: {{ .Values.stage | quote }}
spec:
  replicas: {{ .Values.api.replicas | default "1" }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 50%
      maxUnavailable: 0
  minReadySeconds: 30
  selector:
    matchLabels:
      component: api
      stage: {{ .Values.stage | quote }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/api-secret.yaml") . | sha256sum }}
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8080"
      labels:
        app: {{ template "fullname" . }}
        component: api
        stage: {{ .Values.stage | quote }}
    spec:
      containers:
      - envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-api-envvars
        - configMapRef:
            name: {{ .Release.Name }}-api-custom-envvars
            optional: true
        - secretRef:
            name: {{ .Release.Name }}-api-envvars
        - secretRef:
            name: {{ .Release.Name }}-api-custom-envvars
            optional: true
        image: {{ (.Values.api.image).ref | default (include "image" (dict "repo" .Values.image.repo "image" "cobrowse-api-enterprise:1.49.1" )) }}
        imagePullPolicy: {{ (.Values.api.image).pullPolicy }}
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /up
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 90
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
        name: api
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /up
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 90
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: {{ .Values.api.cpu | default "256m" }}
            memory: {{ .Values.api.memory | default "256Mi" }}
          requests:
            cpu: {{ .Values.api.cpu | default "256m" }}
            memory: {{ .Values.api.memory | default "256Mi" }}
        {{- if .Values.containerSecurityContext.enabled }}
        securityContext:
          {{ include "defaultSecurityContext" . | nindent 10 }}
          runAsGroup: {{ (.Values.api.runAs).group | default "1000" }}
          runAsUser: {{ (.Values.api.runAs).user | default "1000" }}
        {{- end }}
      imagePullSecrets:
      - name: {{ .Release.Name }}-docker-cfg
