apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-frontend
  namespace: {{ .Release.Namespace | default "default" }}
  labels:
    component: frontend
    app: {{ template "fullname" . }}
    chart: {{ template "chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    stage: {{ .Values.stage | quote }}
  {{- range $key, $value := .Values.frontend.labels }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}
spec:
  replicas: {{ .Values.frontend.replicas | default "1" }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 50%
      maxUnavailable: 0
  minReadySeconds: 30
  selector:
    matchLabels:
      component: frontend
      stage: {{ .Values.stage | quote }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/frontend-secret.yaml") . | sha256sum }}
        checksum/configmap: {{ include (print $.Template.BasePath "/frontend-configmap.yaml") . | sha256sum }}
    {{- if .Values.frontend.pod }}
      {{- range $key, $value := .Values.frontend.pod.annotations }}
        {{ $key }}: {{ $value | quote }}
      {{- end }}
    {{- end }}
      labels:
        app: {{ template "fullname" . }}
        component: frontend
        stage: {{ .Values.stage | quote }}
    spec:
    {{- if .Values.frontend.nodeSelector}}
      nodeSelector:{{ toYaml .Values.frontend.nodeSelector | nindent 8 }}
    {{- end }}
      containers:
      - envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-frontend-envvars
        - configMapRef:
            name: {{ .Release.Name }}-frontend-custom-envvars
            optional: true
        - secretRef:
            name: {{ .Release.Name }}-frontend-envvars
        - secretRef:
            name: {{ .Release.Name }}-frontend-custom-envvars
            optional: true
        image: {{ (.Values.frontend.image).ref | default (include "image" (dict "repo" .Values.image.repo "image" "cobrowse-frontend-enterprise:4.13.0" )) }}
        {{- if (.Values.frontend.image).pullPolicy }}
        imagePullPolicy: {{ (.Values.frontend.image).pullPolicy }}
        {{- end}}
        livenessProbe:
          failureThreshold: 3
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          tcpSocket:
            port: 8080
          timeoutSeconds: 1
        name: frontend
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          tcpSocket:
            port: 8080
          timeoutSeconds: 1
        volumeMounts:
        - mountPath: "/tmp"
          name: tmp
        resources:
          limits:
            cpu: {{ coalesce .Values.frontend.limits.cpu .Values.frontend.cpu "256m"}}
            memory: {{ coalesce .Values.frontend.limits.memory .Values.frontend.memory "256Mi"}}
          requests:
            cpu: {{ .Values.frontend.cpu | default "256m"}}
            memory: {{ .Values.frontend.memory | default "256Mi"}}
        {{- if .Values.containerSecurityContext.enabled }}
        securityContext:{{ include "defaultSecurityContext" . | nindent 10 }}
          runAsGroup: {{ (.Values.frontend.runAs).group | default "1000" }}
          runAsUser: {{ (.Values.frontend.runAs).user | default "1000" }}
        {{- end }}
      imagePullSecrets:
      - name: {{ .Release.Name }}-docker-cfg
      volumes:
      - name: tmp
        emptyDir:
          medium: Memory
      serviceAccountName: {{ .Values.serviceAccountName | default "" }}
      automountServiceAccountToken: false
