apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-proxy
  namespace: {{ .Release.Namespace | default "default" }}
  labels:
    component: proxy
    app: {{ template "fullname" . }}
    chart: {{ template "chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    stage: {{ .Values.stage | quote }}
spec:
  replicas: {{ .Values.proxy.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 50%
      maxUnavailable: 0
  minReadySeconds: 30
  selector:
    matchLabels:
      component: proxy
      stage: {{ .Values.stage | quote }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/proxy-secret.yaml") . | sha256sum }}
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8080"
      labels:
        app: {{ template "fullname" . }}
        component: proxy
        stage: {{ .Values.stage | quote }}
    spec:
      containers:
      - envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-proxy-envvars
        - configMapRef:
            name: {{ .Release.Name }}-proxy-custom-envvars
            optional: true
        - secretRef:
            name: {{ .Release.Name }}-proxy-envvars
        - secretRef:
            name: {{ .Release.Name }}-proxy-custom-envvars
            optional: true
        image: {{ (.Values.proxy.image).ref | default (include "image" (dict "repo" .Values.image.repo "image" "cobrowse-proxy-enterprise:1.10.3" )) }}
        imagePullPolicy: {{ (.Values.proxy.image).pullPolicy }}
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /up
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
        name: proxy
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /up
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: {{ .Values.proxy.cpu | default "256m"}}
            memory: {{ .Values.proxy.memory | default "256Mi"}}
          requests:
            cpu: {{ .Values.proxy.cpu | default "256m"}}
            memory: {{ .Values.proxy.memory | default "256Mi"}}
        {{- if .Values.containerSecurityContext.enabled }}
        securityContext:
          {{ include "defaultSecurityContext" . | nindent 10 }}
          runAsGroup: {{ (.Values.proxy.runAs).group | default "1000" }}
          runAsUser: {{ (.Values.proxy.runAs).user | default "1000" }}
        {{- end }}
      imagePullSecrets:
      - name: {{ .Release.Name }}-docker-cfg
      serviceAccountName: {{ .Values.serviceAccountName | default "" }}
      automountServiceAccountToken: false
