apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-proxy
  namespace: {{ .Release.Namespace | default "default" }}
  labels:
    component: proxy
    app: {{ template "fullname" . }}
    chart: {{ template "chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    stage: {{ .Values.stage | quote }}
  {{- range $key, $value := .Values.proxy.labels }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}
spec:
  replicas: {{ .Values.proxy.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 50%
      maxUnavailable: 0
  minReadySeconds: 30
  selector:
    matchLabels:
      component: proxy
      stage: {{ .Values.stage | quote }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/proxy-secret.yaml") . | sha256sum }}
        checksum/configmap: {{ include (print $.Template.BasePath "/proxy-configmap.yaml") . | sha256sum }}
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8080"
    {{- if .Values.proxy.pod }}
      {{- range $key, $value := .Values.proxy.pod.annotations }}
        {{ $key }}: {{ $value | quote }}
      {{- end }}
    {{- end }}
      labels:
        app: {{ template "fullname" . }}
        component: proxy
        stage: {{ .Values.stage | quote }}
    spec:
    {{- if .Values.proxy.nodeSelector}}
      nodeSelector:{{ toYaml .Values.proxy.nodeSelector | nindent 8 }}
    {{- end }}
      containers:
      - envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-proxy-envvars
        - configMapRef:
            name: {{ .Release.Name }}-proxy-custom-envvars
            optional: true
        - secretRef:
            name: {{ .Release.Name }}-proxy-envvars
        - secretRef:
            name: {{ .Release.Name }}-proxy-custom-envvars
            optional: true
        image: {{ (.Values.proxy.image).ref | default (include "image" (dict "repo" .Values.image.repo "image" "cobrowse-proxy-enterprise:1.22.12" )) }}
        {{- if (.Values.proxy.image).pullPolicy }}
        imagePullPolicy: {{ (.Values.proxy.image).pullPolicy }}
        {{- end}}
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /up
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
        name: proxy
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /up
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: {{ coalesce .Values.proxy.limits.cpu .Values.proxy.cpu "500m"}}
            memory: {{ coalesce .Values.proxy.limits.memory .Values.proxy.memory "1Gi"}}
          requests:
            cpu: {{ .Values.proxy.cpu | default "500m"}}
            memory: {{ .Values.proxy.memory | default "1Gi"}}
        {{- if .Values.containerSecurityContext.enabled }}
        securityContext:{{ include "defaultSecurityContext" . | nindent 10 }}
          runAsGroup: {{ (.Values.proxy.runAs).group | default "1000" }}
          runAsUser: {{ (.Values.proxy.runAs).user | default "1000" }}
        {{- end }}
      imagePullSecrets:
      - name: {{ .Release.Name }}-docker-cfg
      serviceAccountName: {{ .Values.serviceAccountName | default "" }}
      automountServiceAccountToken: false
