apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-recording
  namespace: {{ .Release.Namespace | default "default" }}
  annotations:
  labels:
    component: recording
    app: {{ template "fullname" . }}
    chart: {{ template "chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    stage: {{ .Values.stage | quote }}
  {{- range $key, $value := .Values.recording.labels }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}
spec:
  replicas: {{ .Values.recording.replicas }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 50%
      maxUnavailable: 0
  minReadySeconds: 30
  selector:
    matchLabels:
      component: recording
      stage: {{ .Values.stage | quote }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/recording-secret.yaml") . | sha256sum }}
        checksum/configmap: {{ print (include (print $.Template.BasePath "/recording-configmap.yaml") .) (include (print $.Template.BasePath "/chromium-configmap.yaml") .) | sha256sum }}
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8080"
    {{- if .Values.recording.pod }}
      {{- range $key, $value := .Values.recording.pod.annotations }}
        {{ $key }}: {{ $value | quote }}
      {{- end }}
    {{- end }}
      labels:
        app: {{ template "fullname" . }}
        component: recording
        stage: {{ .Values.stage | quote }}
    spec:
    {{- if .Values.recording.nodeSelector}}
      nodeSelector:{{ toYaml .Values.recording.nodeSelector | nindent 8 }}
    {{- end }}
      containers:
      # Recording container
      - envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-recording-envvars
        - configMapRef:
            name: {{ .Release.Name }}-recording-custom-envvars
            optional: true
        - secretRef:
            name: {{ .Release.Name }}-recording-envvars
        - secretRef:
            name: {{ .Release.Name }}-recording-custom-envvars
            optional: true
        image: {{ (.Values.recording.image).ref | default (include "image" (dict "repo" .Values.image.repo "image" "cobrowse-recording-enterprise:1.12.11" )) }}
        {{- if (.Values.recording.image).pullPolicy }}
        imagePullPolicy: {{ (.Values.recording.image).pullPolicy }}
        {{- end}}
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /up
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
        name: recording
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /up
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
        volumeMounts:
        - mountPath: "/data"
          name: data-recordings
        - mountPath: "/tmp"
          name: tmp
        resources:
          limits:
            cpu: {{ coalesce .Values.recording.limits.cpu .Values.recording.cpu "250m"}}
            memory: {{ coalesce .Values.recording.limits.memory .Values.recording.memory "512Mi"}}
          requests:
            cpu: {{ .Values.recording.cpu | default "250m"}}
            memory: {{ .Values.recording.memory | default "512Mi"}}
        {{- if .Values.containerSecurityContext.enabled }}
        securityContext:{{ include "defaultSecurityContext" . | nindent 10 }}
          runAsGroup: {{ (.Values.recording.runAs).group | default "1000" }}
          runAsUser: {{ (.Values.recording.runAs).user | default "1000" }}
        {{- end }}
      # Chromium container
      - envFrom:
        - configMapRef:
            name: {{ .Release.Name }}-chromium-envvars
        - configMapRef:
            name: {{ .Release.Name }}-chromium-custom-envvars
            optional: true
        image: {{ (.Values.chromium.image).ref | default (include "image" (dict "repo" .Values.image.repo "image" "cobrowse-chromium-enterprise:1.12.11" )) }}
        {{- if (.Values.chromium.image).pullPolicy }}
        imagePullPolicy: {{ (.Values.chromium.image).pullPolicy }}
        {{- end}}
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /json
            port: 9222
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 1
        name: chromium
        ports:
        - containerPort: 9222
          name: http
          protocol: TCP
        readinessProbe:
          failureThreshold: 90
          httpGet:
            path: /json
            port: 9222
            scheme: HTTP
          initialDelaySeconds: 1
          periodSeconds: 1
          successThreshold: 1
          timeoutSeconds: 1
        volumeMounts:
        - mountPath: "/tmp"
          name: tmp
        resources:
          limits:
            cpu: {{ coalesce .Values.chromium.limits.cpu .Values.chromium.cpu "700m"}}
            memory: {{ coalesce .Values.chromium.limits.memory .Values.chromium.memory "1G"}}
          requests:
            cpu: {{ .Values.chromium.cpu | default "700m"}}
            memory: {{ .Values.chromium.memory | default "1G"}}
        {{- if .Values.containerSecurityContext.enabled }}
        securityContext:{{ include "defaultSecurityContext" . | nindent 10 }}
          runAsGroup: {{ (.Values.chromium.runAs).group | default "1000" }}
          runAsUser: {{ (.Values.chromium.runAs).user | default "1000" }}
        {{- end }}
      imagePullSecrets:
      - name: {{ .Release.Name }}-docker-cfg
      volumes:
      - name: data-recordings
{{- if .Values.storage }}
        persistentVolumeClaim:
          claimName: {{ (.Values.recording.storage).persistentVolumeClaimName | default (printf "%s-sockets-pvc" .Release.Name) | quote }}
{{- else }}
        emptyDir:
          sizeLimit: 1Mi
{{- end }}
      - name: tmp
        emptyDir:
          medium: Memory
      serviceAccountName: {{ .Values.serviceAccountName | default "" }}
      automountServiceAccountToken: false
