apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-recording-envvars
  namespace: {{ .Release.Namespace | default "default" }}
  labels:
    app: {{ template "fullname" . }}
    chart: {{ template "chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    stage: {{ .Values.stage | quote }}
data:
  PORT: "8080"
  STAGE: {{ .Values.stage | quote }}
  DEBUG: {{ default "" .Values.recording.debug | quote }}
