name: Lint

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: yokawasa/action-setup-kube-tools@v0.13.1
        with:
          setup-tools: |
            helm
            kubeconform
          helm: '3.15.1'
          kubeconform: '0.7.0'

      - run: helm lint .
      - run: helm template . -f values.yaml | kubeconform -summary
      - run: helm plugin install https://github.com/helm-unittest/helm-unittest --version 1.0.2 || true
      - run: helm unittest .
